asgiref==3.9.1
pydantic>=2.7
django==5.2.4
pytest==9.0.3
pytest-django==4.12.0
et-xmlfile==2.0.0
gunicorn==25.3.0
openpyxl==3.1.5
packaging==26.0
psycopg==3.2.9
python-dotenv==1.1.1
setuptools==78.1.1
sqlparse==0.5.3
wheel==0.45.1
whitenoise==6.9.0
django-axes==7.0.1
